<!DOCTYPE html>
<html>
<head>
  <title>상품관리</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <h1 class="mb-3">상품관리</h1>
  <table>
    <tr>
      <th>이름</th>
      <th>가격</th>
      <th>색상</th>
      <th>사진</th>
      <!--<th>Actions</th>-->
    </tr>
    <% flowers.forEach(function(flower) { %>
        <td class="flower-name"><%= flower.name %></td>
        <td class="flower-price"><%= flower.price %></td>
        <td class="flower-color"><%= flower.color %></td>
        <td><img src="/uploads/<%= flower.photo %>" width="100" height="100"></td>
  
      </tr>
    <% }); %>
  </table>

  <button onclick="showAddForm()" class="btn btn-primary mt-3" id="addButton">추가하기</button>
  <!-- 상품 등록 폼 -->
  <div id="add-form" style="display: none;">
    <h2 class="mb-3 mt-3">상품 등록</h2>
    <form id="add-flower-form" method="POST" enctype="multipart/form-data">
      <input type="text" class="form-control mb-3" name="name" placeholder="Name" required>
      <input type="text" class="form-control mb-3" name="price" placeholder="Price" required>
      <select name="color" class="form-select mb-3" required>
        <option value="">Choose a color</option>
        <option value="red">빨강</option>
        <option value="orange">주황</option>
        <option value="yellow">노랑</option>
        <option value="green">초록</option>
        <option value="blue">파랑</option>
        <option value="purple">보라</option>
        <option value="white">하양</option>
        <option value="black">검정</option>
        <option value="pink">분홍</option>
      </select>
      <input type="file" name="photo" class="mb-3">
      <input type="checkbox" name="soldOut"> 품절
      <br>
      <button type="submit" class="btn btn-primary">완료</button>
    </form>
  </div>

  <script>
    function showAddForm() {
      var addForm = document.getElementById("add-form");
      addForm.style.display = "block";
    }
    
    </script>
    </body>
    </html>