<!-- index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Website</title>
</head>
<body>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" type="button" href="/user/register/buyer">구매자 회원가입</a>
        <a class="btn btn-primary" type="button" href="/user/register/seller">판매자 회원가입</a>
    </div>
</body>
</html>