<!-- mypage.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Page</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
    <h1 class="pb-3">My Page</h1>
    <div>
        <p><strong>ID:</strong> <%= buyer.buyer_id %></p>
        <p><strong>Name:</strong> <%= buyer.name %></p>
        <p><strong>Phone Number:</strong> <%= buyer.phoneNumber %></p>
        <td><a href="/buyer/myorder" class="btn btn-light">주문이력 바로가기</a></td>
      </div>
  </body>
</html>