<!-- main.ejs -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FLOWN</title>
  <style>
    @font-face {
      font-family: 'NanumSquareNeo-Variable';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }

    p,
    h2{
      font-family: 'NanumSquareNeo-Variable', sans-serif;
    }
  </style>
</head>

<body>
  <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron row">
      <div class="col">
        <p class="text-success">온라인 꽃다발 주문 서비스</p>
        <br>
        <h2>내 주변의 꽃집을 찾아</h2>
        <br>
        <h2>나만의 꽃다발을</h2>
        <br>
        <h2>만들어 보세요!</h2>
        <br>
        <p>이제 온라인으로 꽃다발을 주문하세요</p>
        <button type="button" class="btn btn-outline-primary pb-2">시작하기</button>
      </div>
      <div class="col">
      <img class="rounded" style="height: 600px;" src="images/mainFlower.jpg" alt="Flower">
    </div>
    </div>

  </div> <!-- /container -->
</body>

</html>