
<!DOCTYPE html>
<html>
 
<head>
  <title>검색 페이지</title>
</head>
<body>
  <h1 class="pb-4">검색 페이지</h1>
  <form method="GET" action="/searchResults">
    <label for="city">시,도:</label>
    <select id="city" class="form-select" aria-label="Default select example" name="city">
      <% for (let i = 0; i < cities.length; i++) { %>
        <option value="<%= cities[i] %>"><%= cities[i] %></option>
      <% } %>
    </select>
    <br>
    <label for="district">시,군,구:</label>
    <select id="district" class="form-select" aria-label="Default select example" name="district"></select>
    <br>
    <label for="neighborhood">읍,면,동:</label>
    <select id="neighborhood" class="form-select" aria-label="Default select example" name="neighborhood"></select>
    <br>
    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">검색</button>
    </div>
  </form>

  <script>
    const districts = <%- JSON.stringify(districts) %>;
    const neighborhoods = <%- JSON.stringify(neighborhoods) %>;

    const citySelect = document.getElementById('city');
    const districtSelect = document.getElementById('district');
    const neighborhoodSelect = document.getElementById('neighborhood');

    function populateDistricts() {
      const selectedCity = citySelect.value;
      const options = districts[selectedCity];

      districtSelect.innerHTML = '';

      for (let i = 0; i < options.length; i++) {
        const option = document.createElement('option');
        option.value = options[i];
        option.textContent = options[i];
        districtSelect.appendChild(option);
      }

      populateNeighborhoods();
    }

    function populateNeighborhoods() {
      const selectedCity = citySelect.value;
      const selectedDistrict = districtSelect.value;
      const options = neighborhoods[selectedCity][selectedDistrict];

      neighborhoodSelect.innerHTML = '';

      for (let i = 0; i < options.length; i++) {
        const option = document.createElement('option');
        option.value = options[i];
        option.textContent = options[i];
        neighborhoodSelect.appendChild(option);
      }
    }

    citySelect.addEventListener('change', populateDistricts);
    districtSelect.addEventListener('change', populateNeighborhoods);

    populateDistricts();
  </script>
</body>
</html>